body.noscroll {
  overflow: hidden;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: #fff !important;
  -webkit-text-fill-color: rgba(165, 165, 165, 0.8) !important;
  color: rgba(165, 165, 165, 0.8) !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
}
/*    header style (descktop)    */
#custom-top-bar div,
#custom-top-bar div a {
  font-family: "Proxima-Nova-Regular" !important;
}
/*.home .help-header-link {*/
/*  display: none;*/
/*}*/
.home #navigation-menu ul.sf-arrows > li > a.sf-with-ul {
  padding: 0 15px 0 0;
}
#custom-top-bar div a:hover {
  color: #333;
}
#custom-top-bar div a:hover svg g {
  opacity: 1;
  fill: #333;
}
#top-wrapper {
  background-color: #fbfbfb;
  border-bottom: 2px solid #e78b48;
}
#main-menu::before {
  background: none;
}
#top-elements {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
#top-elements #logo {
  position: relative;
  top: unset;
}
#main-menu .help-header-link {
  padding-left: 15px;
}
#navigation-menu ul.sf-menu > li > a > span {
  color: #333333;
  font-family: "Raleway-Regular";
}
#navigation-menu ul.sf-menu > li > a:hover,
#navigation-menu ul.sf-menu > li > a:hover span,
#navigation-menu ul.sf-menu > li.current-menu-item > a > span,
#navigation-menu ul.sf-menu > li.current_page_item > a > span {
  color: #e78b48 !important;
  /* font-weight: 700 !important; */
}
#main-menu ul.sf-menu .pll-parent-menu-item > a > span {
  margin-left: 80px;
  position: relative;
}

#main-menu .pll-parent-menu-item.menu-item-has-children > a > span::after {
  content: "";
  position: absolute;
  border: solid #333333e8;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 2.7px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  right: -15px;
  top: 17px;
}
#main-menu .pll-parent-menu-item.menu-item-has-children > a:hover span {
  color: #333333;
  font-weight: 400;
}
#main-menu ul.sf-menu .pll-parent-menu-item .sub-menu {
  width: 55px !important;
  right: 0;
  left: unset;
  box-shadow: 4px 4px 30px rgba(209, 209, 209, 0.3);
}
.lang-item-18:hover div {
  color: red;
}
#main-menu ul.sf-menu .pll-parent-menu-item .sub-menu li {
  background-color: #fff;
  margin-bottom: 0;
}
#main-menu ul.sf-menu .pll-parent-menu-item .sub-menu li a {
  color: #333333;
}
#main-menu ul.sf-menu .pll-parent-menu-item .sub-menu li a span {
  font-family: "Raleway-Regular";
}
#main-menu ul.sf-menu .pll-parent-menu-item .sub-menu li a:hover {
  color: #e78b48;
  font-weight: 700;
}
#main-menu .help-header-link a span {
  color: #e78b48 !important;
  font-size: 14px;
  font-weight: 700;
  position: relative;
}
#main-menu .help-header-link a span::after {
  content: url("/wp-content/themes/u-design-child/img/arrow-help.svg");
  position: absolute;
  padding-left: 10px;
}
/*   <--- header style (descktop)-->    */

/*    footer style (desktop)    */
#bottom-bg {
  padding: 50px 20px 23px 20px;
  border-top: 2px solid #e78b48;
}
#bottom-bg #bottom {
  padding: 0;
}
#bottom-bg .bottom-col-title {
  color: #333333;
  font-family: "Raleway-Bold";
  font-size: 16px;
  background: none;
  padding-top: 11px;
  padding-bottom: 26px;
}
#bottom-bg .footer-logo {
  padding-bottom: 13px;
  height: 57px;
}
#bottom .widget_nav_menu li a,
#bottom .footer-adress,
#bottom .footer-email-tel a {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 42px;
  padding: 0;
  background: none;
}
#bottom .footer-adress span {
  max-width: 164px;
  display: flex;
  line-height: 28px;
  padding-bottom: 40px;
}
#bottom .footer-social-link .fa,
#bottom .footer-email-tel .fa {
  opacity: 0.3;
  color: #333333;
  font-weight: bold;
  min-width: 36px;
}
#bottom .footer-email-tel .fa {
  font-size: 11px;
  min-width: 27px;
}
#bottom .footer-email-tel .footer-tel {
  margin-bottom: -6px;
}
#bottom .footer-email-tel .footer-tel a {
  font-family: "Proxima-Nova-Regular";
  opacity: 0.89;
  line-height: 20px;
}
#bottom a:hover {
  color: #e78b48 !important;
  /* font-weight: bold !important; */
}
#bottom .footer-social-link a:hover .fa,
#bottom .footer-email-tel a:hover .fa {
  color: #e78b48 !important;
  opacity: 1;
  font-weight: normal !important;
}

#bottom .widget_nav_menu li a:before {
  display: none;
}
#bottom-bg #bottom_5 .textwidget {
  display: none;
}

#footer-bg {
  padding: 0 20px;
}
footer span.developer-text,
footer span.designer-text,
footer span.copyright,
footer a.privacy-policy,
footer a.disclaimer {
  opacity: 0.6;
  color: #333333;
  font-size: 12px;
  font-weight: 400;
}
footer a.privacy-policy:hover,
footer a.disclaimer:hover {
  color: #e78b48;
}
footer span.developer-text svg,
footer span.designer-text svg {
  margin-right: 8px;
  position: relative;
  top: -1px;
}
footer a.developer-link,
footer a.designer-link {
  color: #e78b48;
  font-family: "Raleway-Bold";
  font-size: 12px;
  letter-spacing: 1px;
  padding-left: 11px;
}

#footer_bottom {
  display: flex;
  justify-content: space-between;
}
/* .footer-top {
  padding: 0 20px;
} */

@media screen and (max-width: 960px) {
  #bottom-bg #bottom {
    width: 100%;
  }
  #footer {
    width: 100%;
  }
}

#bottom .widget_nav_menu li a,
#bottom .footer-adress,
#bottom .footer-email-tel a {
  font-size: 15px;
}
/*    <--footer style (desktop)-->    */

/*  <!-- The Send SMS Modal -->  */
.modale:before {
  content: "";
  display: none;
  background: rgba(51, 51, 51, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9525;
}
.opened:before {
  display: block;
}
.opened .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  top: 30%;
}
.modal-dialog {
  padding: 40px;
  background: #fefefe;
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  top: -100%;
  z-index: 9530;
  width: 100%;
  max-width: 560px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  -webkit-transform: translate(0, -500%);
  -ms-transform: translate(0, -500%);
  transform: translate(0, -500%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal-body {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.modal-header h2 {
  color: #333333;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 25px;
}
.modal-footer {
  padding-top: 43px;
}
.modal-footer .help-other {
  color: #e78b48;
  font-family: "Raleway-Bold";
  font-size: 14px;
}
.modal-footer .help-other::after {
  content: url(/wp-content/themes/u-design-child/img/arrow-help.svg);
  padding-left: 10px;
}
.closemodale {
  display: none;
  position: fixed;
  box-shadow: 0 0 black;
  width: 24px;
  height: 24px;
  right: 60px;
  top: 40px;
  z-index: 9531;
}
.opened .closemodale {
  display: block;
}
#ModalHelpForm.modale:before {
  z-index: 9515;
}
#ModalHelpForm .modal-dialog {
  max-width: 1140px;
  z-index: 9520;
  padding: 0;
  /* margin-left: -570px; */
}
#ModalHelpForm .closemodale {
  z-index: 9521;
}

/*  (end) The Send SMS Modal   */

/*  Home page first post   */
#home-page-content {
  background-color: #fbfbfb;
}
.home-first-post-image {
  max-height: 576px;
}
.home-first-post-inner-wrapper {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
}
.home-first-post-post-title h4 {
  color: #ffffff;
  font-family: "Raleway-Bold";
  font-size: 48px;
  line-height: 58px;
  max-width: 555px;
  padding-top: 25px;
}
.home-first-post-post-excerpt p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  padding-top: 20px;
}
.home-first-post-form-help {
  float: right;
}
.home-first-post-post-link a {
  background-color: transparent !important;
  padding-left: 0 !important;
  margin-top: 20px;
  color: #ffffff !important;
  font-size: 14px !important;
  font-weight: 500;
}
.home-first-post-post-link a::after {
  content: url(/wp-content/themes/u-design-child/img/arrow-home.svg);
  padding-left: 10px;
}
.h2-header-line {
  color: #333333;
  font-family: "Raleway-Bold" !important;
  margin-bottom: 60px;
  position: relative;
  font-size: 48px;
  line-height: 59px;
}
.h2-header-line::before {
  content: "";
  width: 58px;
  height: 3px;
  background-color: #e78b48;
  left: -112px;
  position: absolute;
  top: calc((100% - 3px) / 2);
}
/* .home-page-section2 {
  margin-top: 85px;
} */
.home-page-section2 .section2-image-wrapper .wpb_wrapper,
.home-page-section2
  .section2-image-wrapper
  .wpb_wrapper
  .vc_single_image-wrapper {
  width: 100%;
  height: 100%;
}
.home-page-section2 .section2-image {
  margin-bottom: 0;
  width: 100%;
  height: 100%;
}
.home-page-section2 .section2-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-page-section2 .section2-text-wrapper {
  background-color: #ffffff;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(165, 165, 165, 0.25);
}
.home-page-section2 .section2-text p {
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  padding-top: 50px;
  padding-left: 75px;
  padding-right: 75px;
}
.home-page-section2 .section2-columns .section2-single-column {
  background-color: #fff;
  border: unset;
  padding: 120px 68px 105px 68px;
  cursor: pointer;
  box-shadow: 4px 4px 30px rgba(209, 209, 209, 0.2);
}
.vc_custom_1579168192440 {
  box-shadow: 4px 4px 30px rgba(209, 209, 209, 0.2);
}
.home-page-section2 .section2-columns .section2-single-column:hover {
  background-image: linear-gradient(225deg, #f3ae43 0%, #e78b48 100%);
  padding-top: 100px;
  padding-bottom: 125px;
}
.home-page-section2 .section2-columns .section2-single-column .vc_cta3-content {
  margin-bottom: 0;
}
.home-page-section2 .section2-columns .section2-single-column h2 {
  color: #333333;
  font-family: "Raleway-Bold";
  font-size: 20px;
  line-height: 30px;
}
.home-page-section2 .section2-columns .section2-single-column:hover h2 {
  color: #ffffff;
}
.home-page-section2 .section2-columns .section2-single-column a {
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  background: unset;
  border: unset;
  padding: 0;
  margin-top: 35px;
  visibility: hidden;
}
.home-page-section2 .section2-columns .section2-single-column a::after {
  content: url(/wp-content/themes/u-design-child/img/arrow-home.svg);
  padding-left: 10px;
}
.home-page-section2 .section2-columns .section2-single-column:hover a {
  visibility: visible;
}
.home-page-section2
  .section2-columns
  .vc_col-sm-4:nth-child(2)
  .section2-single-column {
  border-right: 1px solid rgba(165, 165, 165, 0.25);
  border-left: 1px solid rgba(165, 165, 165, 0.25);
}
.home-page-section3 {
  margin-top: 85px;
}
.home-page-section3 .ocpc-slider-title {
  display: none;
}
.home-page-section3 .owl-carousel .owl-item .ocpc-topbox {
  /* max-width: 346px; */
  max-width: 315px;
  border-top: 3px solid #e78b48;
  /* margin-right: 100px; */
}
.home-page-section3 .owl-carousel .owl-item .ocpc_discripton_class {
  background-color: transparent;
  padding: 0;
}
.home-page-section3 .owl-carousel .ocpc-content {
  color: #333333;
  font-weight: bold;
  line-height: 30px;
  padding: 28px 0 40px 0;
}
.home-page-section3 .owl-theme .owl-dots .owl-dot span {
  background-color: #a5a5a5;
  opacity: 0.5;
  width: 25px;
  height: 3px;
  margin: 0 2.5px;
}
.home-page-section3 .owl-theme .owl-dots .owl-dot.active span {
  background-color: #e78b48;
  opacity: 1;
}
.home-page-section4,
.home-page-section5 {
  margin-top: 120px;
}
.home-page-section4-top-part p,
.home-page-section4-top-part p {
  max-width: 819px;
}
.home-page-section4-tabs {
  margin-top: 25px;
}
.home-page-section4-tabs .vc_tta-container {
  background-color: #fff;
  margin-bottom: 0 !important;
  box-shadow: 4px 4px 30px rgba(209, 209, 209, 0.2);
}
.home-page-section4-tabs .vc_tta-container h2 {
  color: #333333;
  font-family: "Raleway-Bold";
  font-size: 20px;
  padding: 40px 10px 35px 40px;
  width: 255px;
  border-right: 1px solid rgba(165, 165, 165, 0.25);
}
.home-page-section4-tabs .vc_tta-tabs-container {
  min-width: 255px;
  border-right: 1px solid rgba(165, 165, 165, 0.25);
  padding-bottom: 60px;
}
.wpb-js-composer .home-page-section4-tabs .vc_tta.vc_general .vc_tta-tab > a {
  padding: 10px 0 0 60px;
}
.home-page-section4-tabs .vc_tta-tab.vc_active > a,
.home-page-section4-tabs .vc_tta-tab > a {
  background-color: #fff !important;
  border: unset !important;
}
.wpb-js-composer
  .home-page-section4-tabs
  .vc_tta.vc_general
  .vc_tta-tab.vc_active
  > a {
  color: #e78b48;
  font-weight: 700;
}
.wpb-js-composer
  .home-page-section4-tabs
  .vc_tta.vc_general
  .vc_tta-tab.vc_active
  > a::before {
  content: "";
  width: 40px !important;
  height: 3px;
  background-color: #e78b48;
  left: 0 !important;
  position: absolute;
  top: 21px;
}
.wpb-js-composer .home-page-section4-tabs .vc_tta.vc_general .vc_tta-panels {
  background-color: #fff !important;
}
.wpb-js-composer
  .home-page-section4-tabs
  .vc_tta.vc_general
  .vc_tta-panel-body {
  /* position: absolute; */
  top: -100px;
  padding: 40px;
}
.wpb-js-composer
  .home-page-section4-tabs
  .vc_tta.vc_general
  .vc_tta-panel-body
  a {
  font-size: 14px;
  font-weight: 700;
  color: #e78b48;
}
.wpb-js-composer
  .home-page-section4-tabs
  .vc_tta.vc_general
  .vc_tta-panel-body
  a::after {
  content: url(/wp-content/themes/u-design-child/img/arrow-help.svg);
  padding-left: 10px;
}
.home-page-section6,
.home-page-section7 {
  margin-top: 85px;
}
.section-news .section-news-front-wrapper {
  max-height: 340px;
  box-shadow: 4px 4px 30px rgba(209, 209, 209, 0.2);
  padding: 20px 30px 30px 30px !important;
}
.section-news .section-news-hover-wrapper {
  padding: 20px 30px 30px 30px !important;
}
.section-news .section-news-front-wrapper .vc_gitem-row-position-top {
  padding-bottom: 0 !important;
}
.section-news .section-news-hover-wrapper .vc_gitem-row-position-top {
  padding-bottom: 0 !important;
}
.section-news .section-news-front-wrapper .vc_gitem-row-position-middle {
  padding-top: 85px !important;
  top: 0 !important;
  transform: unset !important;
}
.section-news .section-news-hover-wrapper .vc_gitem-row-position-middle {
  padding-top: 85px !important;
  top: 0 !important;
  transform: unset !important;
}
.section-news .news-categories {
  text-align: left;
  color: #a5a5a5;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(165, 165, 165, 0.25);
  padding-bottom: 13px;
}
.section-news .news-date {
  font-family: "Proxima-Nova-Regular";
  color: #a5a5a5;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
  padding-bottom: 13px;
  border-bottom: 1px solid rgba(165, 165, 165, 0.25);
}
.section-news .news-title {
  color: #333333;
  font-family: "Raleway-Bold";
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 1.2em;
}
.section-news .news-excerpt {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.section-news .news-link {
  margin-bottom: 0;
  vertical-align: bottom;
}
.section-news .news-link a {
  padding: 0;
  background: unset !important;
  border: unset !important;
  color: #e78b48 !important;
  font-family: "Raleway-Bold";
  font-size: 14px;
}
.section-news .news-link a::after {
  content: url(/wp-content/themes/u-design-child/img/arrow-help.svg);
  padding-left: 10px;
}
.section-news .news-categories-hover {
  text-align: left;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  margin-bottom: 0;
  padding-bottom: 13px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.section-news .news-date-hover {
  font-family: "Proxima-Nova-Regular";
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
  padding-bottom: 13px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.section-news .news-title-hover {
  color: #fff;
  font-family: "Raleway-Bold";
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 1.2em;
}
.section-news .news-excerpt-hover {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.section-news .news-link-hover {
  margin-bottom: 0;
  vertical-align: bottom;
}
.section-news .news-link-hover a {
  padding: 0;
  background: unset !important;
  border: unset !important;
  color: #fff !important;
  font-family: "Raleway-Bold";
  font-size: 14px;
}
.section-news .news-link-hover a::after {
  content: url(/wp-content/themes/u-design-child/img/arrow-home.svg);
  padding-left: 10px;
}
.section-news
  .section-news-hover-wrapper.is-background-image
  .news-categories-hover,
.section-news .section-news-hover-wrapper.is-background-image .news-date-hover,
.section-news
  .section-news-hover-wrapper.is-background-image
  .news-excerpt-hover {
  display: none;
}
.section-news
  .section-news-hover-wrapper.is-background-image
  .vc_gitem-row-position-middle {
  top: unset !important;
  bottom: 30px;
}
.section-news .vc_grid-btn-load_more a {
  background: unset !important;
  color: #e78b48 !important;
  font-family: "Raleway-Bold";
  font-size: 14px;
  padding-top: 0;
}
.section-news.tab-wrapper {
  padding-top: 100px;
}
.section-news.tab-wrapper ul.vc_grid-filter {
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 40px !important;
  margin-bottom: 60px !important;
}
.section-news.tab-wrapper .vc_grid-filter li.vc_grid-filter-item,
.shop-custom-wrapper
  .woocommerce-custom-category-filter
  li.category-filter-item {
  padding: 0;
  margin: 0;
  position: relative;
  line-height: 1.2em;
  background: transparent;
}
.section-news.tab-wrapper .vc_grid-filter li.vc_grid-filter-item span,
.shop-custom-wrapper
  .woocommerce-custom-category-filter
  li.category-filter-item
  a {
  padding: 0 100px 40px 0 !important;
  border: unset !important;
  background: transparent !important;
  color: rgba(51, 51, 51, 0.29) !important;
  font-family: "Raleway-Bold";
  font-size: 16px;
}
.shop-custom-wrapper
  .woocommerce-custom-category-filter
  li.category-filter-item
  a {
  padding-bottom: 30px;
}
.shop-custom-wrapper
  .woocommerce-custom-category-filter
  li.category-filter-item:last-child
  a {
  padding-right: 0 !important;
}
.section-news.tab-wrapper .vc_grid-filter li.vc_grid-filter-item.vc_active span,
.section-news.tab-wrapper .vc_grid-filter li.vc_grid-filter-item:hover span,
.shop-custom-wrapper
  .woocommerce-custom-category-filter
  li.category-filter-item.active
  a,
.shop-custom-wrapper
  .woocommerce-custom-category-filter
  li.category-filter-item:hover
  a {
  color: #e78b48 !important;
  opacity: 1;
}
.section-news.tab-wrapper
  .vc_grid-filter
  li.vc_grid-filter-item.vc_active::after,
.section-news.tab-wrapper .vc_grid-filter li.vc_grid-filter-item:hover::after,
.shop-custom-wrapper
  .woocommerce-custom-category-filter
  li.category-filter-item.active::after,
.shop-custom-wrapper
  .woocommerce-custom-category-filter
  li.category-filter-item:hover::after {
  content: "";
  position: absolute;
  width: calc(100% - 100px);
  height: 2px;
  background-color: #e78b48;
  left: 0;
  top: 63px;
}
.shop-custom-wrapper
  .woocommerce-custom-category-filter
  li.category-filter-item:last-child::after,
.shop-custom-wrapper
  .woocommerce-custom-category-filter
  li.category-filter-item:last-child:hover::after {
  width: 100%;
}
.shop-custom-wrapper
  .woocommerce-custom-category-filter
  li.category-filter-item.active::after,
.shop-custom-wrapper
  .woocommerce-custom-category-filter
  li.category-filter-item:hover::after {
  top: 53px;
}
.home-page-section8 {
  margin-top: 85px;
}
.home-page-section8-inner {
  box-shadow: 4px 4px 30px rgba(209, 209, 209, 0.2);
  margin-bottom: 100px;
}
.home-page-section8-inner .vc_column-inner {
  padding: 0 !important;
}
.home-page-section8-images {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.singl-project-bottom-part .singl-project-excerpt a {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.singl-project-bottom-part .singl-project-title a {
  font-family: "Raleway-Bold";
  color: #333333;
  font-size: 20px;
}
.singl-project-bottom-part .singl-project-link a {
  color: #e78b48 !important;
  font-size: 14px;
  font-family: "Raleway-Bold";
  padding: 0;
  background: transparent !important;
  border: none !important;
}
.singl-project-bottom-part .singl-project-link a::after {
  content: url(/wp-content/themes/u-design-child/img/arrow-help.svg);
  padding-left: 10px;
}
/*  --- help form (desktop) --- */
.help_form_wrapper {
  background-color: #fff;
  width: 100%;
  min-width: 503px;
  max-width: 503px;
}
.help-form-inner-wrapper {
  padding: 42px 50px 35px 50px;
  box-shadow: 4px 4px 30px rgba(128, 128, 128, 0.2);
  background-color: #ffffff;
}
.help-form-inner-wrapper .help-form-inner-title {
  color: #333333;
  font-family: "Raleway-Bold";
  font-size: 20px;
  line-height: 26px;
  padding-bottom: 20px;
}
.help-form-inner-wrapper .help-form-amount,
.help-form-inner-wrapper .help-form-email-tel,
.help-form-inner-wrapper .help-form-subscribe,
.help-form-inner-wrapper .help-form-submit-oferta {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
.help-form-inner-wrapper .help-form-amount {
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.help-form-inner-wrapper .help-form-amount .help-form-amount-left {
  width: 50%;
  position: relative;
}
.help-form-inner-wrapper .help-form-amount,
.help-form-inner-wrapper .help-form-subscribe {
  padding-bottom: 24px;
}
.help-form-inner-wrapper .help-form-email-tel,
.help-form-inner-wrapper .help-form-submit-oferta{
  padding-bottom: 30px;
}
.help-form-inner-wrapper .help-form-PIB {
  padding-bottom: 14px;
  position: relative;
}
.help-form-inner-wrapper .help-form-email-tel .help-form-amount-email,
.help-form-inner-wrapper .help-form-email-tel .help-form-amount-tel {
  position: relative;
}

.help-form-inner-wrapper .help-form-amount-email .textarea-small,
.help-form-inner-wrapper .help-form-amount-tel .textarea-small {
  padding-bottom: 6px;
}

.help-form-inner-wrapper .help-form-subscribe .help-form-subscribe-left,
.help-form-inner-wrapper .help-form-subscribe .help-form-subscribe-right {
  width: 50%;
}
.help-form-inner-wrapper .help-form-subscribe .subscribe-link {
  display: block;
  height: 45px;
  text-align: center;
  line-height: 45px;
  background-color: #f3f3f3;
  color: rgba(165, 165, 165, 0.8);
  font-size: 12px;
  font-weight: 400;
}
.help-form-inner-wrapper .help-form-subscribe .subscribe-link.active,
.help-form-inner-wrapper .help-form-subscribe .subscribe-link:hover {
  background-image: linear-gradient(225deg, #f3ae43 0%, #e78b48 100%);
  color: #fff;
}
.help-form-inner-wrapper .help-form-text,
.help-form-inner-wrapper .help-form-cancel-subscription-text a{
  color: rgba(165, 165, 165, 0.8);
  font-size: 12px;
  font-weight: 400;
  padding-bottom: 29px;
  letter-spacing: 0.3px;
}
.help-form-inner-wrapper .help-form-cancel-subscription-text a:hover{
  color: #e78b48;
}
.help-form-inner-wrapper .textarea-small,
.help-form-inner-wrapper .textarea-full {
  background-color: transparent;
  width: 100%;
  border: unset;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(165, 165, 165, 0.47);
  color: rgba(165, 165, 165, 0.8);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.3px;
}
.help-form-inner-wrapper .textarea-small {
  min-width: 181px;
}
.help-form-inner-wrapper .help-form-amount-right {
  display: -webkit-flex;
  display: flex;
}
.help-form-inner-wrapper .help-form-amount-right .amount-button {
  display: block;
  width: 60px;
  height: 45px;
  background-color: #f3f3f3;
  color: rgba(51, 51, 51, 0.35);
  font-family: "Proxima-Nova-Regular";
  font-size: 12px;
  font-weight: 300;
  line-height: 45px;
  text-align: center;
}
.help-form-inner-wrapper .help-form-amount-right .amount-button:hover,
.help-form-inner-wrapper .help-form-amount-right .amount-button.active {
  background-image: linear-gradient(225deg, #f3ae43 0%, #e78b48 100%);
  color: #ffffff;
}
.help-form-inner-wrapper
  .help-form-submit-oferta
  .help-form-submit
  .submit-btn {
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  background: transparent;
  border: unset;
  padding: 0 1px;
  cursor: pointer;
}
.help-form-inner-wrapper .help-form-submit-oferta .help-form-submit::after {
  content: url(/wp-content/themes/u-design-child/img/arrow-home.svg);
  padding-left: 10px;
}
.help-form-inner-wrapper .help-form-oferta label:not(.error) {
  color: rgba(165, 165, 165, 0.8);
  letter-spacing: 0.3px;
  font-size: 14px;
  font-weight: 400;
}
.help-form-inner-wrapper .help-form-oferta label a {
  text-decoration: underline !important;
  color: rgba(165, 165, 165, 0.8);
  letter-spacing: 0.3px;
}
.help-form-inner-wrapper .help-form-oferta {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
}
#oferta {
  width: 15px;
  height: 15px;
  /* margin: 0; */
}
.help_form_wrapper label.error {
  color: #d0021b;
  font-size: 10px;
  position: absolute;
  left: 0;
  top: 38px;
  line-height: 1em;
}
.help-form-inner-wrapper .textarea-small::-webkit-input-placeholder,
.help-form-inner-wrapper .textarea-full::-webkit-input-placeholder {
  color: rgba(165, 165, 165, 0.8);
  font-size: 14px;
}
.help-form-inner-wrapper .textarea-small::-moz-placeholder,
.help-form-inner-wrapper .textarea-full::-moz-placeholder {
  color: rgba(165, 165, 165, 0.8);
  font-size: 14px;
}
.help-form-inner-wrapper .textarea-small:-ms-input-placeholder,
.help-form-inner-wrapper .textarea-full:-ms-input-placeholder {
  color: rgba(165, 165, 165, 0.8);
  font-size: 14px;
}
.help-form-inner-wrapper .textarea-small:-moz-placeholder,
.help-form-inner-wrapper .textarea-full:-moz-placeholder {
  color: rgba(165, 165, 165, 0.8);
  font-size: 14px;
}
.help-form-inner-wrapper .cancel_subscription_form .help-form-email-tel{
  position: relative;
  padding-bottom:45px;
}
.wpb_wrapper .cansel-message.error-message{
  display: none;
  color: #d0021b;
  font-size: 12px;
  top: 36px;
  line-height: 1em;
  position: absolute;
}
.wpb_wrapper .cansel-message.success-message{
    font-size: 18px;  
    font-weight: 700;
    margin-bottom: 30px;
}
.cancel_subscription_form_success_block{display: none;}

/* .help-form-inner-wrapper .cancel_subscription_form .help-form-submit-oferta{padding-bottom: 0;}
input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label {
  display: inline-block !important;
  position: relative;
  padding-left: 28px;
  line-height: 20px;
  cursor: pointer;
}
input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 1px;
  width: 15px;
  height: 15px;
  border: 1px solid #bfbfbf;
  background-color: #ffffff;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
  border-radius: 1px;
}
input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  left: 2px;
  top: 3px;
  width: 10px;
  height: 5px;
  border-radius: 1px;
  border-left: 3px solid #333;
  border-bottom: 3px solid #333;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
}
input[type="checkbox"] + label.error {
  position: absolute;
  left: -28px;
  top: 23px;
  line-height: 1em;
}
input[type="checkbox"]:checked + label.error:before,
input[type="checkbox"]:not(:checked) + label.error:before {
  top: -20px;
}
input[type="checkbox"]:checked + label.error:after,
input[type="checkbox"]:not(:checked) + label.error:after {
  top: -17px;
} */

.help-form-oferta-wrapper {
  position: relative;
  left: 26px;
}
/*        Shop  page     */
.woocommerce #sidebar {
  display: none;
}
.woocommerce #main-content.grid_16 {
  width: 100%;
  left: 0;
}
.shop-custom-wrapper {
  padding-top: 120px;
  padding-bottom: 100px;
}
.section-projects .vc_grid-btn-load_more a,
.shop-custom-wrapper a.lmp_button {
  background: unset !important;
  color: #e78b48 !important;
  font-family: "Raleway-Bold";
  font-size: 14px;
  padding-top: 0;
}
.woocommerce .shop-custom-wrapper ul.products li.product a img,
.woocommerce.single-product .related ul.products li.product a img {
  margin-bottom: 0;
  max-height: 270px;
  object-fit: cover;
}
.shop-custom-wrapper .shop-page-price-title,
.woocommerce.single-product .related .shop-page-price-title {
  position: absolute;
  padding: 30px;
  bottom: 0;
}
.shop-custom-wrapper .woocommerce-loop-product__title,
.woocommerce.single-product .related .woocommerce-loop-product__title {
  color: #333333;
  font-family: "Raleway-Bold";
  font-size: 16px !important;
  line-height: 1.3em;
  padding: 0 !important;
  text-align: left;
  width: 60%;
}
.shop-custom-wrapper ul.products li.product .price,
.woocommerce.single-product ul.products li.product .price {
  width: 40%;
  margin-bottom: 0;
  text-align: right;
}
.shop-custom-wrapper .woocommerce-Price-amount,
.woocommerce.single-product .related .woocommerce-Price-amount {
  color: #e78b48;
  font-size: 16px;
  font-family: "Proxima-Nova-Bold";
  text-align: right;
}
.shop-custom-wrapper .add_to_cart_button,
.woocommerce.single-product .related .add_to_cart_button {
  letter-spacing: 0.5px;
  color: #ffffff !important;
  font-size: 14px !important;
  padding: 0 !important;
  background-color: transparent !important;
  font-family: "Raleway-Medium";
  display: none !important;
}
.shop-custom-wrapper .add_to_cart_button::after,
.woocommerce.single-product .related .add_to_cart_button::after {
  content: url(/wp-content/themes/u-design-child/img/arrow-home.svg);
  padding-left: 10px;
  position: static !important;
}
.shop-custom-wrapper .woocommerce-loop-product__link,
.woocommerce.single-product .related .woocommerce-loop-product__link {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.shop-custom-wrapper .product,
.woocommerce.single-product .related .product {
  box-shadow: 4px 4px 30px rgba(209, 209, 209, 0.2);
}
.shop-custom-wrapper .product:hover{
  background-image: linear-gradient(224deg, #f3ae43 0%, #e78b48 100%);
}

/*SINGLE PRODUCT PAGE. RELATED PRODUCTS BLOCK. HOVER ON PRODUCT*/
.woocommerce.single-product .related ul.products li.product.related-product-active {
  background-image: linear-gradient(224deg, #f3ae43 0%, #e78b48 100%);
}
.woocommerce.single-product .related ul.products li.product.related-product-active
.attachment-woocommerce_thumbnail {
  visibility: hidden;
}
.woocommerce.single-product .related  ul.products  li.product.related-product-active
.woocommerce-loop-product__title {
  color: #ffffff;
  font-family: "Raleway-Medium";
  font-size: 16px;
  line-height: 1.3em;
  letter-spacing: 0.5px;
  width: 100%;
}
.woocommerce.single-product .related ul.products li.product.related-product-active
.price {
  width: 100%;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 40px;
}
.woocommerce.single-product .related .product.related-product-active
.woocommerce-Price-amount {
  color: #ffffff;
  font-size: 32px;
  font-family: "Proxima-Nova-Semibold";
  padding-bottom: 45px;
}
.woocommerce.single-product .related ul.products li.product.related-product-active
.add_to_cart_button {
  display: block !important;
  text-align: left;
  margin-top: 47px;
  opacity: 0.9;
}
.woocommerce.single-product .related .product.related-product-active
.shop-page-price-title {
  bottom: unset;
  top: 0;
}
.woocommerce.single-product .related .product.related-product-active
  .shop-page-price-title
  .woocommerce-loop-product__link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.woocommerce.single-product #main-content .related .product.related-product-active
  .woocommerce-Price-amount {
  color: #fff;
}
/*end single product page.hover on product*/

#main-content .shop-custom-wrapper .product:hover .woocommerce-Price-amount {
  color: #fff;
}

.shop-custom-wrapper .product:hover .attachment-woocommerce_thumbnail {
  visibility: hidden;
}
.shop-custom-wrapper .product:hover .woocommerce-loop-product__title {
  color: #ffffff;
  font-family: "Raleway-Medium";
  font-size: 16px;
  line-height: 1.3em;
  letter-spacing: 0.5px;
  width: 100%;
}
.shop-custom-wrapper ul.products li.product:hover .price {
  width: 100%;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 40px;
}
.shop-custom-wrapper .product:hover .woocommerce-Price-amount {
  color: #ffffff;
  font-size: 32px;
  font-family: "Proxima-Nova-Semibold";
  padding-bottom: 45px;
}
.woocommerce
  .shop-custom-wrapper
  ul.products
  li.product:hover
  .add_to_cart_button {
    display: block !important;
    text-align: left;
    margin-top: 47px;
    opacity: 0.9;   
}
.woocommerce .shop-custom-wrapper ul.products li.product a.added_to_cart,
.woocommerce.single-product .related ul.products li.product a.added_to_cart {
  display: none !important;
}
.woocommerce
  .shop-custom-wrapper
  ul.products
  li.product
  a.button.loading::after,
.woocommerce.single-product
  .related
  ul.products
  li.product
  a.button.loading::after {
  top: 0;
  right: 0;
  padding: 0;
}
.shop-custom-wrapper .product:hover .shop-page-price-title {
  bottom: unset;
  top: 0;
}
.shop-custom-wrapper
  .product:hover
  .shop-page-price-title
  .woocommerce-loop-product__link {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }
.woocommerce-custom-product-filter {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 30px;
  margin-bottom: 60px;
}
.woocommerce-custom-product-filter .woocommerce-custom-category-filter,
.woocommerce-custom-product-filter .filter-cart-price-wrapper {
  display: -webkit-flex;
  display: flex;
}
.woocommerce-custom-product-filter
  .filter-cart-price-wrapper
  .woocommerce-custom-price-filter {
  padding-right: 41px;
}
.woocommerce-custom-product-filter .woocommerce-custom-price-filter a,
.woocommerce-custom-product-filter .woocommerce-cart-page-link a,
.single-product .single-product-cart-link a {
  color: rgba(51, 51, 51, 0.29) !important;
  font-family: "Raleway-Bold";
  font-size: 16px;
}
.single-product .single-product-cart-link a {
  position: relative;
}
.woocommerce-custom-product-filter .woocommerce-custom-price-filter a:hover,
.woocommerce-custom-product-filter .woocommerce-cart-page-link a:hover,
.woocommerce-custom-product-filter
  .woocommerce-custom-price-filter
  a.active-filter,
.single-product .single-product-cart-link a:hover {
  color: #e78b48 !important;
}
.woocommerce-custom-product-filter
  .woocommerce-custom-price-filter
  a:hover
  svg
  path,
.woocommerce-custom-product-filter .woocommerce-cart-page-link a:hover svg path,
.woocommerce-custom-product-filter
  .woocommerce-custom-price-filter
  a.active-filter
  svg
  path,
.single-product .single-product-cart-link a:hover svg path {
  fill: #e78b48;
  opacity: 1;
}
.woocommerce-custom-product-filter .woocommerce-custom-price-filter svg,
.woocommerce-custom-product-filter .woocommerce-cart-page-link svg,
.single-product .single-product-cart-link svg {
  position: relative;
  top: 2px;
  padding-right: 10px;
}
.woocommerce-custom-product-filter .woocommerce-cart-page-link {
  position: relative;
}
.woocommerce-custom-product-filter .woocommerce-cart-page-link .cart-count,
.single-product .single-product-cart-link .cart-count {
  color: #333;
  position: absolute;
  z-index: 5;
  left: 3px;
  top: 6px;
  font-size: 11px;
  font-family: "Proxima-Nova-Semibold";
}
.single-product .single-product-cart-link .cart-count {
  top: 2px;
}
.woocommerce-hidden-price-filter {
  margin-bottom: 60px;
  display: none;
}
.woocommerce-hidden-price-filter.show-me {
  display: block;
}
.woocommerce-hidden-price-filter .slick-track,
.woocommerce-hidden-price-filter .slick-track .berocket_filter_slider {
  width: 100% !important;
}
.woocommerce-hidden-price-filter .berocket_aapf_widget-title_div {
  padding-right: 0;
}
.woocommerce-hidden-price-filter .berocket_aapf_widget {
  margin-right: 0;
}
.woocommerce-hidden-price-filter
  .berocket_aapf_widget
  li.slider
  span.left
  input,
.woocommerce-hidden-price-filter
  .berocket_aapf_widget
  li.slider
  span.right
  input {
  background: transparent;
  border: unset;
  padding: 4px 0;
}
.woocommerce-hidden-price-filter
  .berocket_aapf_widget
  li.slider
  span.right
  input {
  text-align: right;
}
.shop-custom-wrapper .woocommerce-info,
.cart-empty.woocommerce-info {
  background-color: transparent;
  border-top: unset;
  text-align: left;
  padding-left: 0;
  font-size: 35px;
  color: #e78b48;
  font-weight: bold;
  line-height: 2em;
}
.cart-empty.woocommerce-info {
  margin-bottom: 0;
}
.shop-custom-wrapper .woocommerce-info::before,
.cart-empty.woocommerce-info::before {
  display: none;
}
.cart-count-in-main-header {
  position: absolute;
  right: 8px;
  top: 5px;
}
.cart-count-in-main-header .cart-customlocation {
  font-family: "Proxima-Nova-Regular";
  color: #e78b48;
  font-size: 11px;
  font-weight: 700;
}
.cart-count-in-main-header .cart-customlocation .plus::before {
  content: "+";
}
/*        Shop  page   (end)    */

/*        Single product page     */
.single-product .single-product-cart-link {
  text-align: right;
  padding-top: 50px;
  position: relative;
}
.woocommerce.single-product div.product {
  margin-top: 50px;
}
.woocommerce.single-product div.product .product_title {
  color: #333333;
  font-family: "Raleway-Bold";
  font-size: 20px;
  line-height: 30px;
}
.woocommerce.single-product div.product div.summary {
  max-width: 471px;
  margin-bottom: 0;
}
.woocommerce.single-product div.product form.cart,
.woocommerce.single-product div.product div.images {
  margin-bottom: 0;
}
.woocommerce.single-product div.product form.cart .quantity {
  display: none;
}
.woocommerce.single-product
  .woocommerce-tabs.wc-tabs-wrapper
  .woocommerce-Tabs-panel {
  padding-top: 120px;
}
.woocommerce.single-product div.product p.price {
  font-family: "Proxima-Nova-Bold";
  color: #333333;
  font-size: 32px;
  line-height: 1em;
  padding-top: 30px;
  padding-bottom: 22px;
}
.woocommerce.single-product .product_meta,
.woocommerce.single-product div.product .woocommerce-tabs ul.tabs {
  display: none;
}
.woocommerce.single-product .inside-grid-column {
  padding: 0;
}
.woocommerce.single-product .single-product-description {
  font-size: 16px;
}
.woocommerce.single-product .single-product-description-title {
  font-size: 20px;
  font-family: "Raleway-Bold" !important;
}
.woocommerce.single-product .left-text {
  max-width: 600px;
}
.woocommerce.single-product .woocommerce-product-details__short-description {
  padding-bottom: 35px;
  border-bottom: 1px solid #d8d8d8;
}
.woocommerce.single-product div.product form.cart .button {
  background-color: transparent;
  color: #e78b48;
  font-family: "Raleway-Bold";
  font-size: 14px;
  padding: 0;
}
.woocommerce.single-product div.product form.cart .button::after {
  content: url(/wp-content/themes/u-design-child/img/arrow-help.svg);
  padding-left: 10px;
}
.woocommerce.single-product .fake-count {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 10px;
}
.woocommerce.single-product .fake-count .quantity-text {
  color: #333333;
  font-family: "Raleway-Bold";
  font-size: 14px;
  margin-right: 35px;
}
.woocommerce.single-product .fake-count .quantity.quantity-numers {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.woocommerce.single-product
  .fake-count
  .quantity.quantity-numers
  .quantity-nav {
  float: unset;
  position: relative;
  height: unset;
}
.woocommerce.single-product
  .fake-count
  .quantity.quantity-numers
  .quantity-button {
  border: unset;
  font-size: 18px;
  font-family: "Proxima-Nova-Bold" !important;
  width: 10px;
}
.woocommerce.single-product
  .fake-count
  .quantity.quantity-numers
  .quantity-button.quantity-up {
  position: relative;
  height: 100%;
  top: unset;
  border-bottom: unset;
}
.woocommerce.single-product
  .fake-count
  .quantity.quantity-numers
  .quantity-button.quantity-down {
  position: relative;
  bottom: unset;
  height: 100%;
  top: -1px;
  font-size: 20px;
}
.woocommerce.single-product .fake-count .quantity.quantity-numers .qty {
  float: unset;
  background: transparent;
  user-select: none;
  border: unset;
  color: #333333;
  font-family: "Proxima-Nova-Bold";
  font-size: 14px;
  width: 25px;
  padding-left: 0;
}
.woocommerce.single-product .h2-header-line {
  margin-bottom: 40px;
}
.woocommerce.single-product .related.products {
  background: unset;
}
.woocommerce.single-product .woocommerce-images span.jssora02l,
.woocommerce.single-product .woocommerce-images span.jssora02r,
.woocommerce.single-product .woocommerce-images span.jssora02ldn,
.woocommerce.single-product .woocommerce-images span.jssora02rdn {
  background: transparent;
  width: 22px !important;
  height: 16px !important;
  top: 35% !important;
}
.woocommerce.single-product .woocommerce-images span.jssora02r {
  right: 30px !important;
  background: url(/wp-content/themes/u-design-child/img/arrow-left-product-gallery.png);
  opacity: 0.2;
  background-repeat: no-repeat;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.woocommerce.single-product .woocommerce-images span.jssora02r:hover,
.woocommerce.single-product .woocommerce-images span.jssora02rdn {
  right: 30px !important;
  background: url(/wp-content/themes/u-design-child/img/arrow-right-product-gallery.png);
  opacity: 1;
  background-repeat: no-repeat;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
.woocommerce.single-product .woocommerce-images span.jssora02l {
  left: 30px !important;
  background: url(/wp-content/themes/u-design-child/img/arrow-left-product-gallery.png);
  background-repeat: no-repeat;
  opacity: 0.2;
}
.woocommerce.single-product .woocommerce-images span.jssora02l:hover,
.woocommerce.single-product .woocommerce-images span.jssora02ldn {
  left: 30px !important;
  background: url(/wp-content/themes/u-design-child/img/arrow-right-product-gallery.png);
  opacity: 1;
  background-repeat: no-repeat;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.woocommerce.single-product .woocommerce-images .jssort03 {
  margin-top: 20px;
}
.woocommerce.single-product .woocommerce-images .jssort03 > div {
  background-color: transparent !important;
}
.woocommerce.single-product .woocommerce-images .jssort03 div [u="slides"] {
  left: 0 !important;
}
.woocommerce.single-product .woocommerce-images div [u="prototype"] .c {
  cursor: pointer;
}
.woocommerce.single-product .woocommerce-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.woocommerce.single-product .submit-share-wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.woocommerce.single-product .submit-share-wrapper .one-project-share {
  color: #333;
  font-size: 14px;
  font-weight: 700;
  margin-right: 5px;
  font-family: "Raleway-Bold";
}
.woocommerce.single-product
  .submit-share-wrapper
  .one-project-socials
  .fa-facebook {
  color: #a9a9a9;
  position: relative;
  left: 2px;
  top: 1px;
  transition: 0.4s ease;
}
.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
  border-top: unset;
  background-color: transparent;
  padding: 1em 0 1em 3.5em;
  margin: 0;
}
.woocommerce-message::before {
  color: #e78b48;
}
.woocommerce-error a,
.woocommerce-info a,
.woocommerce-message a {
  background-color: transparent !important;
  color: #e78b48 !important;
  padding-right: 0 !important;
}
.woocommerce-error a::after,
.woocommerce-info a::after,
.woocommerce-message a::after {
  content: url(/wp-content/themes/u-design-child/img/arrow-help.svg);
  padding-left: 10px;
}

/*        Cart, Checkout and ThankYou Pages        */
.woocommerce-cart-form,
.checkout.woocommerce-checkout {
  padding-top: 120px;
}
.checkout.woocommerce-checkout {
  padding-bottom: 60px;
}
.woocommerce-cart .wc-proceed-to-checkout a,
#place_order {
  background-color: transparent !important;
  color: #e78b48 !important;
  text-align: left !important;
  padding: 1em 12px !important;
}
#place_order {
  float: unset !important;
  padding: 0 !important;
}
.woocommerce-cart .wc-proceed-to-checkout a::after,
#place_order::after {
  padding-left: 10px;
  content: url(/wp-content/themes/u-design-child/img/arrow-help.svg);
}
.woocommerce .cart-collaterals table tr.woocommerce-shipping-totals.shipping {
  display: none;
}
.woocommerce .woocommerce-cart-form table.shop_table,
.woocommerce .cart_totals table.shop_table,
.woocommerce .woocommerce-order-details table.shop_table {
  border: unset;
  border-radius: 0;
}
.woocommerce .woocommerce-checkout-review-order table.shop_table {
  border-radius: 0;
}
.woocommerce-page table.cart td.actions .button,
.woocommerce .cart_totals h2 {
  display: none;
}
.woocommerce-page .cart-collaterals .cart_totals tr th {
  text-align: left;
}
.woocommerce .cart-collaterals table tr {
  background: unset;
}
.woocommerce form .form-row textarea {
  font-family: "Raleway-Regular";
  resize: none;
}
.checkout.woocommerce-checkout input.input-text {
  box-shadow: unset;
  color: #333333;
  font-size: 14px;
}
.checkout.woocommerce-checkout .select2-container {
  z-index: 10;
}
.checkout.woocommerce-checkout
  .select2-container--default
  .select2-selection--single {
  border: 1px solid #ddd9d9;
  border-radius: 0;
  color: #333333;
  font-size: 14px;
}
#order_review_heading,
#nova_poshta_shipping_fields h3 {
  padding-top: 30px;
}
.wc-ukr-shipping-checkbox {
  color: #e78b48;
}
.return-to-shop .wc-backward {
  background-color: transparent !important;
  padding: 0 !important;
  color: #e78b48 !important;
}
.return-to-shop .wc-backward:hover {
  background-color: transparent !important;
}
.return-to-shop .wc-backward::after {
  content: url(/wp-content/themes/u-design-child/img/arrow-help.svg);
  padding-left: 10px;
}
.woocommerce-checkout #payment {
  background: transparent;
  padding: 50px 0 0 0;
}
.woocommerce-checkout #payment div.form-row.place-order {
  padding: 0;
}
.woocommerce-checkout #payment ul.payment_methods {
  border-bottom: unset;
  padding: 0;
}
.woocommerce-checkout #payment ul.payment_methods li img {
  margin: 0;
}
.woocommerce-order {
  padding-top: 120px;
}
.woocommerce-thankyou-order-received {
  font-family: "Raleway-Bold";
  font-size: 2.0004em;
}
.woocommerce .woocommerce-customer-details address {
  border: unset;
  padding: 6px 0;
}
.woocommerce .woocommerce-order-details table.shop_table th,
.woocommerce .woocommerce-order-details table.shop_table td {
  padding: 9px 0;
}
.pending-order-wrapper {
  padding-bottom: 110px;
}
.pending-order-wrapper p {
  font-size: 34px;
  color: #e78b48;
  font-weight: bold;
}
.pending-order-wrapper a.wc-backward {
  margin-top: 45px;
  background-color: transparent !important;
  padding: 0 !important;
  color: #e78b48 !important;
}
.pending-order-wrapper a.wc-backward::after {
  content: url(/wp-content/themes/u-design-child/img/arrow-help.svg);
  padding-left: 10px;
}
.directions_section1_right_block .vc_column-inner {
  max-width: 485px;
}
.directions_section_left_inner_wrapper .vc_column_container .vc_column-inner {
  max-width: 683px;
  margin: 0 auto;
  float: right;
}

.page-template-thanks-for-donation {
  background-image: linear-gradient(224deg, #f3ae43 0%, #e78b48 100%);
  height: 100vh;
}
.page-template-thanks-for-donation h2 {
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
}
.page-template-thanks-for-donation p {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  padding-top: 0;
}
.page-template-thanks-for-donation p.to-home {
  text-align: center;
  padding-top: 93px;
}
.page-template-thanks-for-donation p.to-home a {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  max-width: 168px;
  font-family: "Raleway-Bold";
}
.page-template-thanks-for-donation p.to-home a::after {
  content: url(../../img/arrow-home.svg);
  padding-left: 11px;
  position: relative;
}

@media screen and (min-width: 720px) {
  .customize-header.u-design-fixed-menu-on.fixed-menu #top-wrapper {
    opacity: 1;
  }
  .customize-header.u-design-fixed-menu-on.fixed-menu #custom-top-bar,
  .customize-header.u-design-fixed-menu-on.fixed-menu
    #navigation-menu
    #sticky-menu-logo {
    display: none;
  }
  .customize-header.u-design-fixed-menu-on.fixed-menu #top-elements {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 80px;
    margin: 0 auto;
  }
}
