h1,
h2,
h3,
h4,
h5,
h6,
#slogan {
  font-family: "Raleway-Bold";
}

/*media only for Safari 9+ */
@supports (-webkit-hyphens: none) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  #slogan {
    font-family: "Raleway-Semibold";
  }
}
/*media only for Mozilla */
@-moz-document url-prefix() {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  #slogan {
    font-family: "Raleway-Semibold";
  }
}
#custom-top-bar {
  height: 45px;
  background-color: #f3f3f3;
  margin: auto;
}
#custom-top-bar-content {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 4px;
  padding-left: 1px;
}
.custom-top-bar-content-left {
  display: flex;
  align-items: center;
}
.custom-top-bar-content-right {
  margin-right: -1px;
}
.top-bar-help-block {
  float: right;
}
#custom-top-bar div,
#custom-top-bar div a {
  color: #a1a1a1;
  font-size: 12px;
  font-weight: 400;
}
.top-bar-email-block {
  padding-left: 40px;
}
.tel-block-a i,
.email-block-a i {
  padding-right: 10px;
}
.error404 {
  box-shadow: 4px 4px 20px rgba(209, 209, 209, 0.2);
  background-image: linear-gradient(224deg, #f3ae43 0%, #e78b48 100%);
  height: 100vh;
}
.error_page_padding {
  text-align: center;
  margin-top: 20%;
}
.error_page h4 {
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  max-width: 506px;
  margin: 0 auto;

  line-height: 1.2;
  padding-top: 2px;
}
.error_page h3 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  padding-top: 27px;

  margin-left: -2px;
}
.error_page p {
  text-align: center;
  padding-top: 93px;
  margin-left: -22px;
}
.error_page a {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  max-width: 168px;
  font-family: "Raleway-Bold";
}
/*media only for Mozilla */
@-moz-document url-prefix() {
  .error_page a {
    letter-spacing: 0.1px;
  }
}
/*media only for Safari 9+ */
@supports (-webkit-hyphens: none) {
  .error_page a {
    font-family: "Raleway-Semibold";
  }
}
/*media only for Mozilla */
@-moz-document url-prefix() {
  .error_page a {
    font-family: "Raleway-Semibold";
  }
}
.error_page a:after {
  content: url("../../img/arrow-home.svg");
  position: absolute;
  padding-left: 11px;
  padding-top: 3px;
}

.contact-info-block .vc_column-inner {
  padding-right: 60px;
  padding-left: 14px;
}
.map-marker-main-block:before {
  content: url("../../img/map_marker.svg");
  position: absolute;
  top: 55%;
  left: 21%;
}
.map-marker-main-wrap .vc_column-inner {
  padding-left: 25%;
}
.map-marker-main-block {
  width: 45%;
  background: #fff;
  box-shadow: 4px 4px 30px rgba(209, 209, 209, 0.2);
  padding: 30px;
  text-align: center;
  margin-top: -20%;
}
.map-marker-main-block p {
  text-align: center;
}
.contact-second-block .contact-second-text-block > .vc_column-inner {
  padding: 100px 0 0 0;
}
.vc_separator.title_dash .vc_sep_holder {
  min-width: 0;
  max-width: 58px;
}
.vc_separator.title_dash h4 {
  font-size: 48px;
  padding: 0 0 0 6.4em;
}
.contact-second-block {
  padding-top: 70px;
  padding-bottom: 70px;
}
.contact-info-block h5 {
  font-size: 16px;
}
.contact-info-block p a {
  color: #333333;
}
.contact-info-block p a:hover {
  color: #e78b48 !important;
  font-weight: bold !important;
}
.contact_social_icon ul {
  display: flex;
}
.contact_social_icon ul li {
  padding: 1px 68px 0 0;
}
.contact_social_icon .footer-social-link a {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 38px;
  padding: 0;
  background: none;
}

.contact_social_icon a:hover {
  text-shadow: 0px 0px 1px #e78b48;
  color: #e78b48 !important;
  /* font-weight: bold !important; */
}

.contact_social_icon .footer-social-link a:hover .fa {
  color: #e78b48 !important;
  opacity: 1;
  font-weight: normal !important;
}
.contact_social_icon .footer-social-link .fa {
  opacity: 0.3;
  color: #333333;
  font-weight: bold;
  padding-right: 11px;
}
.contact_need_help .vc_btn3.vc_btn3-style-custom {
  background-image: none;
  padding-left: 0;
  padding-top: 11px;
  margin-left: -1px;
}
.h2-title-without-line :last-child h2 {
  font-size: 48px;
  margin-bottom: 60px;
  line-height: 58px;
}
.contact_need_help button:after {
  content: url("../../img/arrow-help.svg");
  position: absolute;
  padding-left: 11px;
}
.bank-details-block .vc_tta-tabs-container {
  margin-right: 0 !important;
}
.bank-details-block .vc_tta-tab {
  margin-left: 0 !important;
  width: 50%;
  text-align: center;
}
.wpb-js-composer .vc_tta.vc_general.bank-details-block .vc_tta-tab > a {
  padding: 30px 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  font-family: "Raleway-Bold";
  opacity: 0.35;
  color: #333333;
  background-color: #ffffff;
  box-shadow: 4px 4px 24px rgba(209, 209, 209, 0.15);
  border-width: 0;
  border: none;
  border-radius: 0;
}

/*media only for Safari 9+ */
@supports (-webkit-hyphens: none) {
  .wpb-js-composer .vc_tta.vc_general.bank-details-block .vc_tta-tab > a {
    font-family: "Raleway-Semibold";
  }
}
/*media only for Mozilla */
@-moz-document url-prefix() {
  .wpb-js-composer .vc_tta.vc_general.bank-details-block .vc_tta-tab > a {
    font-family: "Raleway-Semibold";
  }
}

.wpb-js-composer
  .vc_tta.vc_general.bank-details-block
  .vc_tta-tab.vc_active
  > a {
  opacity: 1;
  color: #333333;
}
.wpb-js-composer .vc_tta.vc_general.bank-details-block .vc_tta-panel-body {
  padding-left: 86px;
  padding-top: 43px;
}
.bank-details-block h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.contact_help_form {
  padding-top: 85px;
}
@media screen and (min-width: 960px) {
  .container_24 {
    height: 100%;
  }
}
/*********************** Projects Page *********************************/
.vc_custom_1581425588110.project_banner_wrapper_section1 {
  background-position: unset !important;
}
.project_banner_section1 {
  padding-top: 65px;
  padding-bottom: 65px;
}
.project_banner_section1 .vc_column-inner {
  padding-top: 0 !important;
}
.custom-container {
  max-width: 1145px;
  margin-left: auto !important;
  margin-right: auto !important;
  margin: 0 auto;
}
.custom-container .header_align {
  align-items: center !important;
}
.custom-container .left_margin_column {
  margin-left: 48px;
}
.custom-container .content_column {
  padding-right: 0 !important;
  padding-left: 10px !important;
  max-height: 140px !important;
  max-width: 205px !important;
}
.custom-container .content_column .wpb_text_column {
  background: #fff;
  padding: 23px 30px;
}
.custom-container .content_column h5 {
  font-family: "Proxima-Nova-Bold";
  font-size: 31px;
}
.custom-container .content_column .column_text {
  line-height: normal;
  padding-top: 5px;
}
.custom-container .content_column p {
  opacity: 0.3;
  font-weight: 700;
}
.custom-container .content_column.help_column .wpb_text_column {
  background-image: linear-gradient(224deg, #f3ae43 0%, #e78b48 100%);
  padding: 52.5px 45px;
}
.custom-container .content_column.help_column p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  opacity: 1;
  font-family: "Raleway-Bold";
}
/*media only for Safari 9+ */
@supports (-webkit-hyphens: none) {
  .custom-container .content_column.help_column p {
    font-family: "Raleway-Semibold";
  }
}
/*media only for Mozilla */
@-moz-document url-prefix() {
  .custom-container .content_column.help_column p {
    font-family: "Raleway-Semibold";
  }
}
.custom-container .content_column.help_column p::after {
  content: url(../../img/arrow-home.svg);
  padding-left: 10px;
}
.section-tabs {
  padding-top: 65px;
}
.section-tabs ul.vc_tta-tabs-list {
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 26px !important;
  margin-bottom: 45px !important;
}
.section-tabs .vc_tta-tab > a,
.section-tabs .vc_tta-tab.vc_active > a,
.section-tabs .vc_tta-tab > a:hover {
  border-color: transparent !important;
  background-color: transparent !important;
}
.section-tabs .vc_tta-tabs-list li.vc_tta-tab {
  padding: 0;
  margin: 0;
  position: relative;
  line-height: 1.2em;
}
.section-tabs .vc_tta-tab > a {
  padding-left: 0 !important;
}
.section-tabs .vc_tta-tabs-list li.vc_tta-tab span {
  padding: 0 0 40px 0 !important;
  border: unset !important;
  background: transparent !important;
  color: rgba(51, 51, 51, 0.29) !important;
  font-family: "Raleway-Bold";
  font-size: 16px;
}
/*media only for Safari 9+ */
@supports (-webkit-hyphens: none) {
  .section-tabs .vc_tta-tabs-list li.vc_tta-tab span {
    font-family: "Raleway-Semibold";
  }
}
/*media only for Mozilla */
@-moz-document url-prefix() {
  .section-tabs .vc_tta-tabs-list li.vc_tta-tab span {
    font-family: "Raleway-Semibold";
  }
}
#main-content .section-projects .vc_tta.vc_general .vc_tta-tab > a {
  padding: 14px 0;
}

.section-tabs .vc_tta-tabs-list li.vc_tta-tab.vc_active span {
  color: #e78b48 !important;
  opacity: 1;
}

.section-tabs .vc_tta-tabs-list li.vc_tta-tab.vc_active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #e78b48;
  left: 0;
  top: 74px;
}

.section-tabs .vc_tta-tabs-list li.vc_tta-tab:hover span {
  color: #e78b48 !important;
  opacity: 1;
}

.section-tabs .vc_tta-tabs-list li.vc_tta-tab:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #e78b48;
  left: 0;
  top: 74px;
}

.projects_section3 {
  padding-top: 40px;
  padding-bottom: 43px;
}

/*********************** Single project page ***************************/
.project-banner-without-image {
  background-image: linear-gradient(224deg, #f3ae43 0%, #e78b48 100%);
  display: block;
  width: 100%;
  height: 100%;
}
.proj-milestone-desc-block {
  box-shadow: 4px 4px 30px rgba(209, 209, 209, 0.2);
}
.proj-milestone-desc-text {
  display: block;
  box-sizing: border-box;
  background: white;
  margin-top: 20px;
  padding: 40px 30px;
}
.milestone-desc-wrapper,
.milestone-desc-wrapper .milestone_task_list {
  display: flex;
}

.milestone-desc-wrapper .left_columns_description,
.milestone-desc-wrapper .right_columns_description,
.milestone-desc-wrapper .milestone_task_list ul {
  width: 50%;
}
.milestone-desc-wrapper .milestone_desc_text {
  padding-top: 25px;
}

.milestone-desc-wrapper .milestone_task_list ul {
  line-height: 35px;
  padding-top: 20px;
}
.milestone-desc-wrapper .milestone_task_list ul:first-child li:before {
  content: "\271a";
  font-size: 10px;
  padding-right: 10px;
}
.milestone-desc-wrapper .milestone_task_list ul:last-child li:before {
  content: "-";
  font-size: 21px;
  font-weight: 700;
  padding-right: 10px;
  vertical-align: -7%;
}
.proj-milestone-desc-text .text_block {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.proj-milestone-desc-text .text_block {
  padding-right: 50px;
}
.milestone-desc-wrapper .right_columns_description {
  padding-left: 40px;
}
.milestone-desc-wrapper .left_columns_description {
  padding-left: 10px;
}
.help_button_single_block .help {
  box-shadow: none;
}
.proj-timeline-top {
  padding-top: 85px;
}
.proj-timeline-one-step {
  cursor: pointer;
}
.help_button_single_block .vc_btn3:hover {
  border-color: transparent !important;
}

.help_button_single_block .vc_btn3 {
  background: transparent !important;
  border: transparent !important;
  color: #f39856 !important;
  letter-spacing: 0.5px;
  transform: scale(1, 0.93);
  padding-top: 10px !important;
  font-family: "Raleway-Bold";
}
/*media only for Safari 9+ */
@supports (-webkit-hyphens: none) {
  .help_button_single_block .vc_btn3 {
    font-family: "Raleway-Semibold";
  }
}
/*media only for Mozilla */
@-moz-document url-prefix() {
  .help_button_single_block .vc_btn3 {
    font-family: "Raleway-Semibold";
  }
}
.help_button_single_block .vc_btn3::after {
  content: url("../../img/arrow-help.svg");
  padding-left: 10px;
}

.single_proj_block4,
.block-project-partners,
.single-proj-news-section,
.single-proj-help-section,
.single-proj-help-partners-section,
.single-proj-other-posts-section,
.privacy-help-section,
.photo_video_block5 {
  padding-top: 90px;
}
.single-proj-news-section .carousel-news-posts,
.help-partners-block,
.block3_help_button {
  padding-top: 10px;
}

.project-partners-carousel-wrapper .help_button_single_block {
  padding-top: 12px;
}
.project-partners-carousel-wrapper {
  padding-top: 35px;
}

.single-proj-news-section .vc_pageable-slide-wrapper {
  padding-bottom: 20px;
}
.single-proj-other-posts-section,
.single-proj-other-posts-section .vc_grid-item {
  padding-bottom: 55px !important;
}
.other-projects-row .vc_grid-item-mini {
  background: #fff;
  box-shadow: 4px 4px 30px rgba(209, 209, 209, 0.2);
}
.other-projects-row .singl-project-bottom-part {
  padding: 10px 40px 0 40px;
  min-height: 320px;
}
.other-projects-row .singl-project-top-part .vc_gitem-row-position-top {
  top: unset;
  bottom: 0;
}
.other-projects-row .project-money-involved,
.other-projects-row .project-money-quantity {
  color: #fff;
}
.other-projects-row .one-project-progress-wrapper {
  padding: 0 40px;
}
.other-projects-row .one-project-progress-wrapper .one-project-progress {
  margin-bottom: 20px;
}
.other-projects-row .progress-bar {
  background-color: rgba(165, 165, 165, 0.55);
}
.other-projects-row .singl-project-link {
  margin-bottom: 0;
  vertical-align: bottom;
}
.other-projects-row .project-text-block {
  margin-bottom: 5px !important;
  color: #a5a5a5;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.65px;
}
.other-projects-row .singl-project-link-wrapper {
  position: absolute;
  left: 40px;
  bottom: 25px;
}
.other-projects-row .singl-project-title {
  line-height: normal;
}
.project-partners-wrapper {
  background-size: auto !important;
}
.project-partners-wrapper .vc_gitem_row {
  position: unset !important;
}
.project-partners-wrapper .vc_gitem-col {
  padding: 0 !important;
}
.project-partners-carousel .vc_grid-item {
  padding: 0 0 45px 0 !important;
  vertical-align: middle !important;
}
.project-partners-carousel .slick-dots,
.write_about_us_carousel .slick-dots {
  left: 12.8%;
}
.help-partners-block .help-partner-patronat {
  padding-left: 40px;
}
.tabs_content {
  display: none; /* по умолчанию прячем все блоки */
}
.tabs_content.active {
  display: block; /* по умолчанию показываем нужный блок */
}
.help_button_single_block .help {
  display: block;
  text-align: center;
}
.block_excerpt_container {
  padding: 0px 0 0 60px;
}
.block_excerpt_container .block_excerpt {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  border-top: 3px solid #e78b48;
  padding-top: 30px;
  font-family: "Raleway-Bold";
  letter-spacing: 0.2px;
}
/*media only for Safari 9+ */
@supports (-webkit-hyphens: none) {
  .block_excerpt_container .block_excerpt {
    font-family: "Raleway-Semibold";
  }
}
/*media only for Mozilla */
@-moz-document url-prefix() {
  .block_excerpt_container .block_excerpt {
    font-family: "Raleway-Semibold";
  }
}
/************************* Privacy Policy Page **************************/
.privacy-section1,
.privacy-section2 {
  padding-top: 60px;
}
.before_rectangle_block p::before {
  content: url("../../img/rectangle-icon.svg");
  padding-right: 25px;
  vertical-align: 4%;
}
.before_rectangle_block {
  margin-bottom: 10px;
}
.privacy-help-section {
  padding-bottom: 45px;
}

/*************************** Directions Page ****************************/

.directions_section1_right_block {
  padding: 80px 100px 43px;
  color: #ffff;
}
.directions_section1_text_block {
  padding-top: 15px;
}
.directions_section1_button button {
  border-color: transparent !important;
  background-color: unset !important;
  background-image: none !important;
  color: #ffff !important;
  padding-left: 0 !important;
  padding-top: 0 !important;
}
.directions_section1_button button::after {
  content: url("../../img/arrow-home.svg");
  padding-left: 10px;
}
.directions_section2_tabs .vc_tta-panel-body {
  overflow: inherit !important;
}
.directions_section2_tabs {
  padding-top: 40px;
}
.directions_section2_row_title1 {
  padding-top: 70px;
}
.directions_section2_row_title2 {
  padding-top: 70px;
}
.directions_section2_row_title3 {
  padding-top: 70px;
}
.directions_section_help {
  padding-top: 50px;
  padding-bottom: 43px;
}
.custom-container .content_column.help_column p {
  cursor: pointer;
}
/*************************** Our Team ***************************/
.aboutus_section1 {
  padding: 150px 130px;
}
.aboutus_section1 h2,
.aboutus_section1 .video_button a {
  font-family: Raleway-Bold !important;
}

/*media only for Safari 9+ */
@supports (-webkit-hyphens: none) {
  .aboutus_section1 h2,
  .aboutus_section1 .video_button a {
    font-family: "Raleway-Semibold" !important;
  }
}
/*media only for Mozilla */
@-moz-document url-prefix() {
  .aboutus_section1 h2,
  .aboutus_section1 .video_button a {
    font-family: "Raleway-Semibold" !important;
  }
}
.aboutus_section1 .video_button {
  text-align: right;
}
.aboutus_section1 .video_button a {
  font-size: 14px;
}
.aboutus_section1 .video_button a:before {
  content: url("../../img/play_video_big.svg");
  padding-right: 10px;
  vertical-align: -25px;
}
.our-team-hover-wrapper {
  box-shadow: 4px 4px 20px rgba(209, 209, 209, 0.2);
  background-image: linear-gradient(224deg, #f3ae43 0%, #e78b48 100%);
  padding: 40px;
  padding-bottom: 30px;
}
.our-team-front-wrapper,
.our-team-hover-wrapper,
.aboutus_section1 .video_button a {
  color: #ffffff;
}
.team-member-title,
.team-member-title-hover {
  font-family: "Raleway-Semibold";
  font-size: 20px;
  font-weight: 700;
}
/*media only for Safari 9+ */
@supports (-webkit-hyphens: none) {
  .team-member-title,
  .team-member-title-hover {
    font-family: "Raleway-Semibold";
  }
}
/*media only for Mozilla */
@-moz-document url-prefix() {
  .team-member-title,
  .team-member-title-hover {
    font-family: "Raleway-Semibold";
  }
}
.team-member-info-hover .vc_gitem-acf-label {
  font-family: "Raleway-Semibold";
}

/*media only for Safari 9+ */
@supports (-webkit-hyphens: none) {
  .team-member-info-hover .vc_gitem-acf-label {
    font-family: "Raleway-Semibold";
  }
}
/*media only for Mozilla */
@-moz-document url-prefix() {
  .team-member-info-hover .vc_gitem-acf-label {
    font-family: "Raleway-Semibold";
  }
}
.team-member-title {
  padding-left: 40px;
  padding-bottom: 10px;
}
.team-member-title-hover {
  padding-top: 5px;
}
.our-team-hover-wrapper.vc_gitem-zone-b .vc_gitem-row-position-middle {
  top: 41%;
}
.our-team-hover-wrapper .team-member-info-hover {
  padding-top: 37px;
}
.our_team_section .vc_grid-btn-load_more a {
  background: unset !important;
  color: #e78b48 !important;
  font-family: "Raleway-Bold";
  font-size: 14px;
  padding-top: 0;
}

/*media only for Safari 9+ */
@supports (-webkit-hyphens: none) {
  .our_team_section .vc_grid-btn-load_more a {
    font-family: "Raleway-Semibold";
  }
}
/*media only for Mozilla */
@-moz-document url-prefix() {
  .our_team_section .vc_grid-btn-load_more a {
    font-family: "Raleway-Semibold";
  }
}
.write-aboutus-wrapper {
  padding-top: 130px;
}
.write-aboutus-carousel-wrapper {
  padding-top: 25px;
}
.write-aboutus-carousel-wrapper .slick-list {
  padding-bottom: 10px;
}
.write_about_us_carousel .vc_grid.vc_row .vc_grid-item {
  vertical-align: middle;
}

.write_about_us_button_wrapper .help_button_single_block .vc_btn3 {
  padding-top: 23px !important;
}
.write_about_us_carousel .vc_gitem-zone-a .vc_gitem-row-position-top {
  position: inherit;
}

.reviews-item {
  box-shadow: 4px 4px 30px rgba(209, 209, 209, 0.2);
}
.reviews-item .vc_gitem_row .vc_gitem-col {
  padding: 0 0 10px;
}
.reviews-item-subtitle {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0;
  line-height: 30px;
}
.reviews-item-content {
  line-height: 28px;
}
.list-cptapagination {
  display: flex;
  justify-content: center;
}
.pagination-block,
.pagination-children {
  position: relative;
}
.pagination-block a,
.pagination-children a {
  padding: 0 5px;
  opacity: 0.3;
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  font-family: "Proxima-Nova-Regular";
}
.pagination-block a.active_review,
.pagination-children a.active_review {
  opacity: 1;
  color: #e78b48;
  font-weight: 700;
}
.pagination-block .step-arrow,
.pagination-children .step-arrow {
  width: 17px;
  height: 17px;
  padding: 0;
}
.pagination-block .step-next,
.pagination-children .step-next {
  padding-left: 25px;
}
.pagination-block .step-prev,
.pagination-children .step-prev {
  padding-right: 25px;
}
.step-forward:before {
  content: url("../../img/step-forward.svg");
}
.step-backward:before {
  content: url("../../img/step-backward.svg");
}
.step-prev:before {
  content: url("../../img/prev-arrow.svg");
}
.step-next:before {
  content: url("../../img/next-arrow.svg");
}
.step-arrow:before {
  vertical-align: -3px;
}
.count_pages {
  font-size: 14px;
  color: #e78b48;
  font-weight: 700;
  position: absolute;
  right: 0;
  top: 12px;
}
.paged_review,
.list_reports_wrapper li {
  font-family: Proxima-Nova-Regular;
}
.preloader {
  display: none;
  background: url("../../img/preloader.svg") center center no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0.3;
}
.testimonials_section {
  padding-top: 90px;
}
.aboutus_section2 {
  padding-top: 85px;
}
.about_section4 {
  padding-top: 80px;
}
.aboutus_section2 .block_excerpt_container {
  padding: 25px 0 0 60px;
}
.aboutus_section2 .block_excerpt {
  margin-bottom: 60px;
}
.aboutus_section2 .h2-header-line,
.aboutus_section3 .h2-header-line {
  margin-bottom: 40px;
}
.aboutus_section3 {
  padding-top: 40px;
}
.aboutus_section3 .about_team_text {
  padding-bottom: 25px;
}
.about_block6 {
  padding-top: 75px;
  padding-bottom: 45px;
}

.fund-documents-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.fund-documents-wrapper .fund-document {
  width: 30%;
}
.fund-documents-wrapper .document-title {
  min-height: 70px;
}
@media screen and (max-width: 768px) {
  .fund-documents-wrapper .fund-document {
    width: 100%;
  }
}
/**************************************** Reporting Page *************************************/
.reporting_section_tabs {
  padding-bottom: 85px;
}
.tabs_content .reports_section {
  display: flex;
  flex-wrap: wrap;
}
.reports_section > div {
  width: 48.246%;
  margin-bottom: 40px;
}
.reports_section > div:nth-child(odd) {
  margin-right: 40px;
}
.list_reports_wrapper {
  padding: 110px 0;
}
.list_reports_wrapper ul {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(51, 51, 51, 0.29);
}
.list_reports_wrapper li {
  padding-bottom: 30px;
  cursor: pointer;
  color: rgba(51, 51, 51, 0.29) !important;
  font-family: "Raleway-Bold";
  font-size: 16px;
  position: relative;
}

/*media only for Safari 9+ */
@supports (-webkit-hyphens: none) {
  .list_reports_wrapper li {
    font-family: "Raleway-Semibold";
  }
}
/*media only for Mozilla */
@-moz-document url-prefix() {
  .list_reports_wrapper li {
    font-family: "Raleway-Semibold";
  }
}
.list_reports_wrapper li.tab-active {
  color: #e78b48 !important;
}
.list_reports_wrapper li.tab-active:after {
  content: " ";
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background-color: #e78b48;
  left: 0;
}
li.one-tab-link:hover:after {
  content: " ";
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background-color: #e78b48;
  left: 0;
}

li.one-tab-link:hover {
  color: #e78b48 !important;
}
.download_report_wrapper > div {
  box-shadow: 4px 4px 30px rgba(209, 209, 209, 0.2);
  background-color: #ffffff;
  margin-bottom: 20px;
}

.download_report_wrapper .report_text {
  padding: 40px;
}
.download_report_wrapper > div:hover {
  box-shadow: 4px 4px 20px rgba(209, 209, 209, 0.2);
  background-image: linear-gradient(224deg, #f3ae43 0%, #e78b48 100%);
}
.download_report_wrapper > div:hover a,
.download_report_wrapper > div:hover .report_title {
  color: #ffffff;
}
.h2-header-without-line {
  color: #333333;
  font-family: "Raleway-Bold" !important;
  position: relative;
  font-size: 48px;
  line-height: 59px;
}

/*media only for Safari 9+ */
@supports (-webkit-hyphens: none) {
  .h2-header-without-line {
    font-family: "Raleway-Semibold" !important;
  }
}
/*media only for Mozilla */
@-moz-document url-prefix() {
  .h2-header-without-line {
    font-family: "Raleway-Semibold";
  }
}
.report_title {
  color: #333333;
  font-family: "Raleway-Bold";
  font-size: 20px;
  line-height: 26px;
  padding-bottom: 20px;
}

/*media only for Safari 9+ */
@supports (-webkit-hyphens: none) {
  .report_title {
    font-family: "Raleway-Semibold";
  }
}
/*media only for Mozilla */
@-moz-document url-prefix() {
  .report_title {
    font-family: "Raleway-Semibold";
  }
}
.report_download:after {
  content: url(/wp-content/themes/u-design-child/img/arrow-help.svg);
  position: absolute;
  padding-left: 10px;
}
.download_report_wrapper > div:hover .report_download:after {
  content: url(/wp-content/themes/u-design-child/img/arrow-home.svg);
}
.reports_section h2 {
  padding-bottom: 40px;
}
.report_download {
  font-family: "Raleway-Semibold";
  font-size: 14px;
  position: relative;
  left: 1px;
}

/*media only for Safari 9+ */
@supports (-webkit-hyphens: none) {
  .report_download {
    font-family: "Raleway-Semibold";
  }
}
/*media only for Mozilla */
@-moz-document url-prefix() {
  .report_download {
    font-family: "Raleway-Semibold";
  }
}
.reports_section .h2-header-line::before {
  top: calc((100% - 45px) / 2);
}

.zvit_children_count {
  color: #e78b48;
  font-size: 42px;
  font-family: "Raleway-Bold";
  line-height: 59px;
}

/*media only for Safari 9+ */
@supports (-webkit-hyphens: none) {
  .zvit_children_count {
    font-family: "Raleway-Semibold";
  }
}
/*media only for Mozilla */
@-moz-document url-prefix() {
  .zvit_children_count {
    font-family: "Raleway-Semibold";
  }
}
.pagination-children {
  padding-top: 15px;
}
.pagination-children .count_pages {
  top: 18px;
}
.children-block {
  padding-bottom: 30px;
}
.children-wrapper .preloader {
  top: -5%;
}

/********************************* Single article *********************************/

.single_article_section1.vc_custom_1582905650845 {
  background-position: unset !important;
}
.single_article_section1_wrapper,
.aboutus_section1_wrapper {
  max-width: 1140px;
  margin: 0 auto !important;
}
.single_section1_text {
  color: white;
  font-size: 48px;
  line-height: 58px;
  font-family: "Raleway-Bold";
  padding: 78px 0;
  width: 57%;
}
/*media only for Safari 9+ */
@supports (-webkit-hyphens: none) {
  .single_section1_text {
    font-family: "Raleway-Semibold";
  }
}
/*media only for Mozilla */
@-moz-document url-prefix() {
  .single_section1_text {
    font-family: "Raleway-Semibold";
  }
}
.single_section2 {
  padding-top: 20px;
}
.custom_post_info {
  display: flex;
  padding-bottom: 15px;
  border-bottom: 1px solid #d8d8d8;
  color: #a5a5a5;
  justify-content: space-between;
}
.custom_post_info .right_info_block {
  display: flex;
  justify-content: space-between;
  width: 34%;
}
.custom_post_info .post_category_class {
  text-transform: uppercase;
}
.custom_post_info .post_date_class {
  text-transform: lowercase;
}
.custom_post_info .fa-facebook {
  color: #a9a9a9;
}
.text_under_post_info {
  padding-top: 40px;
}

.single_news_two_posts {
  padding-left: 50px;
}

.single_news_two_posts a {
  color: #ffffff !important;
  font-family: "Raleway-Bold";
  line-height: 26px;
  font-size: 14px;
  padding: 25px 0 24px 0;
}

/*media only for Safari 9+ */
@supports (-webkit-hyphens: none) {
  .single_news_two_posts a {
    font-family: "Raleway-Semibold";
  }
}
/*media only for Mozilla */
@-moz-document url-prefix() {
  .single_news_two_posts a {
    font-family: "Raleway-Semibold";
  }
}
.single_news_two_posts .vc_gitem-post-data-source-post_title a {
  font-size: 16px;
}
.proj-timeline-info.news_social_info {
  min-width: 310px;
  height: 151px;
}
.news_social_info .proj-timeline-info-left {
  padding: 40px 10px 40px 30px;
  width: 185px;
}
.news_social_info .left-to-collect-text {
  font-size: 16px;
  line-height: 26px;
  font-family: Raleway-Bold;
  letter-spacing: 0.2px;
}

/*media only for Safari 9+ */
@supports (-webkit-hyphens: none) {
  .news_social_info .left-to-collect-text {
    font-family: "Raleway-Semibold";
  }
}
/*media only for Mozilla */
@-moz-document url-prefix() {
  .news_social_info .left-to-collect-text {
    font-family: "Raleway-Semibold";
  }
}
.news_social_info .proj-timeline-info-right {
  width: calc(100% - 185px);
  text-align: center;
}

.news_social_info .proj-timeline-info-right a span {
  padding-left: 10px;
}
.news_social_info .proj-timeline-info-right a:last-child {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  padding: 25px 0 20px 0;
}
.news_social_info .fa-facebook,
.news_social_info .fa-instagram {
  padding-top: 3px;
}
.single_section3 {
  padding-top: 80px;
}
.single_section3 .h2-header-line {
  margin-bottom: 40px;
}
.single_section4 h2-header-line {
  margin-bottom: 60px;
}
.media_slider_block {
  padding-bottom: 1px;
}
.media_slider_block .slick-list {
  padding-bottom: 50px;
}
.single_section4 {
  padding-top: 20px;
  padding-bottom: 40px;
}
.single_section4 .paragraph1 {
  padding-bottom: 10px;
}
.single_section4 .paragraph5 {
  padding-top: 30px;
}
.media_slider_block .slick-prev {
  left: 30px !important;
  z-index: 99;
}
.media_slider_block .slick-next {
  right: 30px !important;
  z-index: 99;
}
.media_slider_block .slick-prev:before,
.media_slider_block .slick-next:before {
  opacity: 0.5;
}
.media_slider_block .slick-next:before {
  content: url(/wp-content/themes/u-design-child/img/slick-next.svg);
}
.media_slider_block .slick-prev:before {
  content: url(/wp-content/themes/u-design-child/img/slick-prev.svg);
}
.media_slider_block .slick-next:hover:before,
.media_slider_block .slick-prev:hover:before {
  opacity: 1;
}

/********************* Thanks block *********************/
.home-first-thanks-block {
  background-image: linear-gradient(225deg, #f3ae43 0%, #e78b48 100%);
  color: #fff;
  width: 100%;
  min-width: 503px;
  max-width: 503px;
  padding: 45px 80px;
  float: right;
}
.thanks-text-wrapper .h2-header-without-line-white {
  color: #ffffff;
  font-family: Raleway-Bold;
  font-size: 48px;
  line-height: 58px;
  padding-bottom: 20px;
}

/*media only for Safari 9+ */
@supports (-webkit-hyphens: none) {
  .thanks-text-wrapper .h2-header-without-line-white {
    font-family: "Raleway-Semibold";
  }
}
/*media only for Mozilla */
@-moz-document url-prefix() {
  .thanks-text-wrapper .h2-header-without-line-white {
    font-family: "Raleway-Semibold";
  }
}
.thanks-text-wrapper .thanks-text-block {
  line-height: 28px;
  font-family: Proxima-Nova-Regular;
}
.thanks-text-wrapper .order-sum {
  font-weight: 700;
}
.thanks-share-link,
.thanks-share-link a {
  color: #fff;
  font-size: 14px;
  font-family: Raleway-Bold;
  padding-top: 25px;
}

/*media only for Safari 9+ */
@supports (-webkit-hyphens: none) {
  .thanks-share-link,
  .thanks-share-link a {
    font-family: "Raleway-Semibold";
  }
}
/*media only for Mozilla */
@-moz-document url-prefix() {
  .thanks-share-link,
  .thanks-share-link a {
    font-family: "Raleway-Semibold";
  }
}
.thanks-text-wrapper a {
  color: #fff;
}
.vc_custom_1585211434500 {
  background-position: unset !important;
}
.home-first-post-image {
  max-width: 1140px;
  margin: 0 auto !important;
}

.help-form-subscribe .pay_label {
  color: rgba(165, 165, 165, 0.8);
}
.help-form-submit {
  background-image: linear-gradient(225deg, #f3ae43 0%, #e78b48 100%);
  padding: 10px 30px;
}

.one-project-info-title a {
  color: #333333;
}
.one-project-info-title a:hover {
  opacity: 0.85;
}
.ask_for_help_popup div {
  margin-bottom: 11px;
}

/* @media only screen and (max-width: 768px) {
  .woocommerce ul.products[class*="columns-"] li.product,
  .woocommerce-page ul.products[class*="columns-"] li.product {
    width: 100% !important;
    margin: 0 40px 0 0 !important;
  }
} */
@media only screen and (max-width: 768px) {
  .woocommerce #main-content .shop-custom-wrapper ul.products {
    width: 100% !important;
  }
  .shop-custom-wrapper ul.products.columns-3 li.product {
    width: calc((100% - 40px) / 2);
    margin-right: 0;
  }
}
